.panorama {

  &.text-list {
    position: relative;
    display: block;
  }

  .text-list--inner {
    padding-right: 15px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .text-list--item {
    cursor: default;
  }

}